body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f5;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 0.75rem;
}

.header-content {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    max-width: 1880px;
    margin: 0 auto;
    flex-wrap: wrap;
}

h1 {
    margin: 0;
    text-align: center; /* Center the text within h1 */
    flex-basis: 100%; /* Take up full width to ensure centering */
}

.link-time-bar {
    background-color: #3a3a3a; /* Dark shade of grey */
    color: #fff;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}

#header-links {
    display: flex;
    gap: 20px;
}

#header-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#header-links a:hover {
    text-decoration: underline;
}

#live-clock {
    font-size: 1.2rem;
    font-weight: bold;
}

.filter-bar {
    background-color: #3e4e5e; /* Same color as before */
    padding: 1rem;
    text-align: center;
    max-width: 800px; /* Same width as news feed */
    margin: 1rem auto; /* Center and add margin */
    border-radius: 20px;
}

.timezone-selector {
    display: inline-block;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

li.new-article {
    animation: flash 1s;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

@keyframes flash {
    0%, 100% { background-color: #fff; }
    50% { background-color: #ffff99; }
}
