<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEX Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Hexfeed V1</h1>
        </div>
    </header>
    <div class="link-time-bar">
        <div id="header-links">
            <a href="/">News feed</a>
            <a href="/GEX">GEX data</a>
        </div>
        <div id="live-clock"></div>
    </div>
    <main>
        <h2>SPX Open Interest</h2>
        {{ gex_plot|safe }}
        <h2>SPX Volume</h2>
        {{ volume_plot|safe }}
    </main>
</body>
</html>
